<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Система интернет-олимпиад СПбГУ</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>

  <style>
    h3 {
      font-weight: bold;
      font-size: 12pt;
      text-align: center;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  </style>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey" style="min-width: 612px">

<div th:replace="fragments/menu-staff :: #menustaff"></div>

<p id="title" style="margin-top: 1rem; margin-bottom: .5rem; font-weight: bold; text-align: center">
  Предпросмотр модели
</p>

<div class="container" style="min-width: 38rem">
  <!--/*@thymesVar id="model" type="ru.spbu.distolymp.dto.admin.models.ModelViewDto"*/-->
  <div style="border-color: black; border-width: 1px; border-style: solid">
    <div style="margin: .5rem; overflow-wrap: anywhere; overflow: auto">
      <div th:utext="${model.parsedProblemText}"></div>
      <img th:src="@{/data/models/{imageName}(imageName=${model.imageFileName})}"
           th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
           alt="Image not found" style="margin-right: auto; margin-left: auto; display: block;"
           th:if="${model.width == 0 and model.height != 0 and model.imageFileName != null}"
           th:styleappend="'height:' + ${model.height} + 'px'"/>
      <img th:src="@{/data/models/{imageName}(imageName=${model.imageFileName})}"
           th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
           alt="Image not found" style="margin-right: auto; margin-left: auto; display: block;"
           th:if="${model.height == 0 and model.width != 0  and model.imageFileName != null}"
           th:styleappend="'width:' + ${model.width} + 'px'"/>
      <img th:src="@{/data/models/{imageName}(imageName=${model.imageFileName})}"
           th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
           alt="Image not found" style="margin-right: auto; margin-left: auto; display: block;"
           th:if="${model.width != 0 and model.height != 0 and model.imageFileName != null}"
           th:styleappend="'height:' + ${model.height} + 'px; width:' + ${model.width} + 'px'"/>
    </div>
  </div>

  <div style="text-align: center; margin-top: 1rem">
    <a th:href="@{/data/models/{barsicFileName}(barsicFileName=${model.barsicFileName})}"
       class="pbutton">Начать выполнение практического задания</a>
  </div>

  <div style="margin-top: 1rem; margin-bottom: .5rem"
       th:text="'Время сервера при открытии страницы: ' + ${model.currentServerDateTime}"></div>
</div>

<div th:replace="fragments/footer :: #footer"></div>
</body>

</html>