<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div id="tests-table" style="overflow: auto">
    <table class="table border center" aria-describedby="title" style="margin-bottom: 0">
        <tr style="text-align: center">
            <th id="index" style="vertical-align: middle">№</th>
            <th id="title" style="vertical-align: middle">Заголовок</th>
            <th id="status" style="vertical-align: middle">Статус</th>
            <th id="actions" style="vertical-align: middle">Действия</th>
        </tr>

        <!--/*@thymesVar id="testList" type="java.util.List<ru.spbu.distolymp.dto.admin.tests.TestListDto>"*/-->
        <tr th:each="test, iter : ${testList}">
            <td th:text="${iter.index + 1}" style="text-align: center; vertical-align: middle"></td>

            <td th:if="${test.prefix != null}" th:text="${test.prefix} + ':&#13' + ${test.title}"
                style="white-space: break-spaces; vertical-align: middle; overflow-wrap: anywhere"></td>
            <td th:unless="${test.prefix != null}" th:text="${test.title}"
                style="white-space: break-spaces; vertical-align: middle; overflow-wrap: anywhere"></td>

            <td th:text="${test.status}" style="text-align: center; vertical-align: middle"></td>

            <td th:if="${test.status} == 'Архив'" style="text-align: center; vertical-align: middle">
                <a th:href="@{/tests/preview/{id}(id=${test.id})}" class="abutton">просмотр</a>
                <a th:href="@{/tests/unarchive/{id}(id=${test.id})}" class="abutton">разархивировать</a>
            </td>
            <td th:unless="${test.status} == 'Архив'"
                style="text-align: center; vertical-align: middle">
                <a th:href="@{/tests/preview/{id}(id=${test.id})}" class="abutton">просмотр</a>
                <a th:href="@{/tests/edit/{id}(id=${test.id})}" class="abutton">редактировать</a>
                <a href="#" class="abutton" data-toggle="modal" data-target=".testCopy"
                   th:attr="data-id=${test.id}, data-title=${test.title}">копировать</a>
                <a href="#" class="abutton" data-toggle="modal" data-target=".testDelete" th:attr="data-id=${test.id}">
                    удалить</a>
            </td>
        </tr>
    </table>
</div>

</html>