<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div id="diplomas-table">
    <form th:action="@{/diplomas/delete}" method="post" id="diplomas">
        <table class="border center" aria-describedby="title">
            <tr style="text-align: center">
                <th id="index">№</th>
                <th id="check-column">
                    <input type="checkbox" onclick="checkAll(this.checked);"/>
                </th>
                <th id="name">Имя диплома</th>
            </tr>

            <!--/*@thymesVar id="diplomaTypes" type="java.util.List<ru.spbu.distolymp.dto.entity.diploma.DiplomaTypeDto>"*/-->
            <tr th:each="diploma, iter : ${diplomaTypes}">
                <td th:text="${iter.index + 1}"></td>
                <td>
                    <input type="checkbox" name="ids" th:value="${diploma.id}"/>
                </td>
                <td>
                    <a th:href="@{/diplomas/details/{id}(id=${diploma.id})}" th:text="${diploma.name}"
                       class="stealth"></a>
                </td>
            </tr>
        </table>
    </form>
</div>

</html>