<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        p {
            text-align: center;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        legend {
            display: block;
            width: auto;
            padding: 0 5px;
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
            border-bottom: none;
        }

        fieldset {
            border: 2px groove white;
            padding: 5px;
        }
    </style>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey">

<div th:replace="fragments/menu-staff :: #menustaff"></div>

<p id="title">Страны</p>

<div class="container">
    <div class="alert alert-danger col-6 ml-auto mr-auto" role="alert" th:text="${error}" th:if="${error}"></div>

    <fieldset>
        <legend>Поиск дипломов</legend>
        <div class="searchForm">
            <label for="diploma-name">Диплом:</label>
            <input type="text" name="name" id="diploma-name" class="wide"/><br/>
            <label for="limit">На странице:</label>
            <select name="limit" id="limit">
                <option value="5">5</option>
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="0">все</option>
            </select>
        </div>
        <div style="text-align:center">
            <button type="submit" id="search-button">Найти</button>
        </div>
    </fieldset>

    <br/>

    <div id="diplomas-table" th:replace="admin/directories/diplomas/diplomas-table :: #diplomas-table"></div>

    <ul class="actions">
        <li>
            <a th:href="@{/diplomas/add}" class="abutton">Зарегистрировать новый тип дипломов</a>
        </li>
        <li>
            <a href="#" onclick="return delDiplomas()" class="abutton">Удалить выбранные дипломы</a>
        </li>
        <li>
            <a href="#" class="abutton">Копировать выбранные дипломы</a>
        </li>
    </ul>
</div>

<div th:replace="fragments/footer :: #footer"></div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script>
    $("#diploma-name").on("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("search-button").click();
        }
    })

    $("#search-button").click(function () {
        getDiplomas();
    })

    function getDiplomas() {
        var params = encodeQueryData(getParams());
        var url = "filter?" + params;

        $.get(url).done(function (fragment) {
            $("#diplomas-table").replaceWith(fragment);
        });
    }

    function encodeQueryData(data) {
        const result = [];
        for (var key in data) {
            result.push(key + '=' + data[key]);
        }

        return result.join('&');
    }

    function getParams() {
        var params = {}
        params["resultSize"] = getResultSize();
        params["containsName"] = getName();

        return params;
    }

    function getResultSize() {
        return $("#limit").val();
    }

    function getName() {
        return $("#diploma-name").val();
    }

    function checkAll(check) {
        var diplomas = document.getElementById("diplomas");
        var ids = diplomas["ids"];
        if (ids.name != undefined) {
            ids = [ids];
        }

        for (var i = 0; i < ids.length; ++i) {
            ids[i].checked = check;
        }
    }

    function areSure() {
        return window.confirm("Вы уверены?");
    }

    function delDiplomas() {
        var diplomas = document.getElementById("diplomas");
        var flag = false;

        diplomas.elements["ids"].forEach(function (item){
            if(item.checked){
                flag = true;
            }
        });

        if (flag && areSure()) {
            diplomas.submit();
        }
        return false;
    }
</script>

</html>