<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        p {
            text-align: center;
        }
    </style>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey">

<div th:replace="fragments/menu-staff :: #menustaff"></div>

<h3>
    <a th:href="@{/places/list}" class="stealth">
        Справочник площадок очного тура
    </a>
</h3>

<form th:action="@{/places/save-or-edit}" th:object="${place}" method="post">
    <div class="infoForm">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{divisionId}"/>
        <fieldset>
            <legend>Площадка очного тура</legend>
            <label for="order">№:</label>
            <input type="number" th:field="*{order}" id="order" min="1" th:max="${maxOrder}"/>
            <span th:if="${#fields.hasErrors('order')}" th:errors="*{order}">Place order error</span>
            <br/>

            <label for="name">Площадка:</label>
            <input type="text" th:field="*{name}" id="name" size="50"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Place name error</span>
            <br/>

            <label for="visible">Отображение:</label>
            <select th:field="*{visible}" id="visible">
                <option th:value="true" th:text="показывается"></option>
                <option th:value="false" th:text="скрыта"></option>
            </select>
        </fieldset>
    </div>
    <div style="text-align:center">
        <button type="submit">Сохранить</button>
    </div>
</form>

<br/>

<div th:replace="fragments/footer :: #footer"></div>
</body>

</html>