<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey" th:attr="onload=|onUpdateAnswerTypeOrImage('${task.answerNote}', '${task.imageFileName}')|"
      style="min-width: 612px; font-family: sans-serif; font-size: 11pt">

<div th:replace="fragments/menu-staff :: #menustaff"></div>

<p style="text-align: center; margin-top: 1rem; margin-bottom: .5rem">Редактор задач</p>

<!--/*@thymesVar id="task" type="ru.spbu.distolymp.dto.entity.tasks.tasks.TaskDto"*/-->
<form th:action="@{/tasks/save-or-edit}" th:object="${task}" method="post" enctype="multipart/form-data"
      class="needs-validation" onsubmit="fillAnswer()" novalidate>
    <div class="infoForm container p-2 text-center" style="width: 60%; padding: 1rem !important; min-width: 36rem">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{status}"/>
        <input type="hidden" th:field="*{imageFileName}"/>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="prefix" style="width: auto">Префикс</label></div>
            <div class="col-9 was-validated">
                <input id="prefix" type="text" class="form-control form-control-sm text-dark" maxlength="255"
                       th:field="*{prefix}"/>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="title" style="width: auto">Заголовок</label></div>
            <div class="col-9 was-validated">
                <input id="title" type="text" class="form-control form-control-sm text-dark" maxlength="255"
                       th:field="*{title}" required/>
                <div class="invalid-feedback">Пожалуйста, введите заголовок задачи</div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="problemText" style="width: auto">Задание</label></div>
            <div class="col-9 was-validated">
                <textarea id="problemText" class="form-control form-control-sm text-dark" maxlength="65535"
                          th:field="*{problemText}" rows="8" style="width: inherit" required></textarea>
                <div class="invalid-feedback">Пожалуйста, введите условие задачи</div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label style="width: auto">Изображение</label></div>
            <div class="col-9">
                <div class="form-row mb-1">
                    <div class="col-12">
                        <div class="custom-file">
                            <input type="file" id="image" class="custom-file-input is-valid" th:field="*{image}"
                                   accept="image/png, image/jpeg, image/gif" onchange=validateImage()>
                            <label class="custom-file-label text-dark" data-browse="Обзор" for="image" style="width: initial">
                                Файл не выбран
                            </label>
                            <div id="imageExtensionError" class="invalid-feedback" style="display: none">
                                Изображение должно иметь расширение jpg, png или gif
                            </div>
                            <div id="imageSizeError" class="invalid-feedback" style="display: none">
                                Размер изображения не должен превышать 10 Мб
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-1" style="min-width: 5rem"><label for="width" style="width: auto">Ширина:</label></div>
                    <div class="col-3  was-validated" style="min-width: 8rem">
                        <input type="number" min="0" max="65535" class="form-control form-control-sm text-dark"
                               id="width" th:field="*{width}" required>
                        <div class="invalid-feedback">Ширина картинки должна быть от 0 до 65535 пикселей</div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-1" style="min-width: 5rem"><label for="height" style="width: auto">Высота:</label></div>
                    <div class="col-3 was-validated" style="min-width: 8rem">
                        <input type="number" id="height" min="0" max="65535" class="form-control form-control-sm text-dark"
                               th:field="*{height}" required>
                        <div class="invalid-feedback">Высота картинки должна быть от 0 до 65535 пикселей</div>
                    </div>
                </div>
                <div id="imageAttr" style="display: none">
                    <div class="form-row align-items-center">
                        <div class="col-xl-0 form-check">
                            <input id="isDelete" type="checkbox" class="form-check-input"
                                   th:field="*{deleteImage}" autocomplete="off" style="position: inherit">
                        </div>
                        <div class="col-9">
                            <label for="isDelete" class="form-check-label" style="width: auto">Удалить</label>
                        </div>
                    </div>
                    <div class="form-row mb-1">
                        <div class="col-12">
                            <a href="#" class="abutton" data-toggle="modal" data-target="#showImage">Просмотр</a>
                            <div id="showImage" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="showImagePopup" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Просмотр загруженного изображения</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center" style="overflow: auto; margin: 1rem; padding: 0">
                                            <img th:src="@{/img/tasks/{imageName}(imageName=${task.imageFileName})}"
                                                 th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
                                                 alt="Image not found" th:if="${task.width == 0}"
                                                 th:style="'height:' + ${task.height} + 'px'"/>
                                            <img th:src="@{/img/tasks/{imageName}(imageName=${task.imageFileName})}"
                                                 th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
                                                 alt="Image not found" th:if="${task.height == 0}"
                                                 th:style="'width:' + ${task.width} + 'px'"/>
                                            <img th:src="@{/img/tasks/{imageName}(imageName=${task.imageFileName})}"
                                                 th:onerror="'this.src=\'' + @{/img/image-not-found.png} + '\';'"
                                                 alt="Image not found" th:if="${task.width != 0 and task.height != 0}"
                                                 th:style="'height: ' + ${task.height} + 'px; width: ' + ${task.width} + 'px'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="variables" style="width: auto">Значения переменных<sup
                    title="v1 = a;<br/>
                           v2 = [a, b, ..., z];<br/>
                           v3 = (a..b, step);<br/>
                           v4 = expr(a, b, ..., z);"
                     data-toggle="tooltip">(?)</sup></label>
            </div>
            <div class="col-9">
                <textarea id="variables" class="form-control form-control-sm text-dark" maxlength="65535"
                          th:field="*{variables}" rows="8" style="width: inherit" onchange="setNeutral('variables')"
                          th:classappend="${#fields.hasErrors('variables')} ? 'is-invalid'">
                </textarea>
                <div id="variablesError" class="invalid-feedback" th:if="${#fields.hasErrors('variables')}"
                     th:errors="*{variables}" style="display: block"></div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="answerTypeRadio" style="width: auto">Тип ответа</label></div>
            <div class="col-9">
                <div id="answerTypeRadio" th:attr="onclick=|onUpdateAnswerTypeOrImage('${task.answerNote}', '${task.imageFileName}')|">
                    <div class="form-row">
                        <div class="col-xl-0 form-check">
                            <input id="answerType0" type="radio" class="form-check-input" style="position: inherit"
                                   th:field="*{answerNote}" value="0" autocomplete="off"/>
                        </div>
                        <div class="col-9"><label for="answerType0" class="form-check-label"
                                                   style="width: auto">Только ответы</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-0 form-check">
                            <input id="answerType1" type="radio" class="form-check-input" style="position: inherit"
                                   th:field="*{answerNote}" value="1" autocomplete="off"/>
                        </div>
                        <div class="col-9"><label for="answerType1" class="form-check-label"
                                                   style="width: auto">Ответы и комментарий</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-0 form-check">
                            <input id="answerType2" type="radio" class="form-check-input" style="position: inherit"
                                   th:field="*{answerNote}" value="2" autocomplete="off"/>
                        </div>
                        <div class="col-9"><label for="answerType2" class="form-check-label"
                                                   style="width: auto">Только комментарий</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-0 form-check">
                            <input id="answerType3" type="radio" class="form-check-input" style="position: inherit"
                                   th:field="*{answerNote}" value="3" autocomplete="off"/>
                        </div>
                        <div class="col-9"><label for="answerType3" class="form-check-label"
                                                   style="width: auto">Файл и комментарий</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-0 form-check">
                            <input id="answerType4" type="radio" class="form-check-input" style="position: inherit"
                                   th:field="*{answerNote}" value="4" autocomplete="off"/>
                        </div>
                        <div class="col-9"><label for="answerType4" class="form-check-label"
                                                   style="width: auto">Только файл</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="answer" style="display: none">
            <div class="form-row text-left align-items-center">
                <div class="col-3"><label for="correctAnswer" style="width: auto">Ответы</label></div>
                <div class="col-9">
                    <textarea id="correctAnswer" class="form-control form-control-sm text-dark" maxlength="65535"
                              th:field="*{correctAnswer}" rows="4" style="width: inherit"
                              onchange="setNeutral('correctAnswer')"></textarea>
                    <div th:each="e : ${#fields.detailedErrors()}">
                        <div id="correctAnswerError" class="invalid-feedback" style="display: block"
                             th:if="${e.fieldName == 'answerValid'}" th:text="${e.message}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="gradePoints" style="width: auto">Количество баллов</label></div>
            <div class="col-9">
                <div th:each="e : ${#fields.detailedErrors()}">
                    <div id="answerNumberError" class="invalid-feedback" style="display: block"
                         th:if="${e.fieldName == 'answerNumberValid'}" th:text="${e.message}"></div>
                </div>
                <input id="gradePoints" type="text" class="form-control form-control-sm text-dark" maxlength="255"
                       th:field="*{gradePoints}" th:classappend="${#fields.hasErrors('gradePoints')} ? 'is-invalid'"
                       onchange="setNeutral('gradePoints')"/>
                <div id="gradePointsError" class="invalid-feedback" th:if="${#fields.hasErrors('gradePoints')}"
                     th:errors="*{gradePoints}" style="display: block"></div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="minusPoints" style="width: auto">Штраф за неправильный ответ</label></div>
            <div class="col-9 was-validated">
                <input id="minusPoints" type="number" step="any" min="0" max="65535" class="form-control form-control-sm text-dark"
                       th:field="*{minusPoints}" required/>
                <div class="invalid-feedback">Штрафной балл должен быть от 0 до 65535</div>
            </div>
        </div>

        <div class="form-row text-left align-items-center">
            <div class="col-3"><label for="minPoints" style="width: auto">Минимальное количество баллов за правильный ответ</label></div>
            <div class="col-9 was-validated">
                <input id="minPoints" type="number" step="any" min="0" max="65535" class="form-control form-control-sm text-dark"
                       th:field="*{minPoints}" required/>
                <div class="invalid-feedback">Минимальный балл за правильный ответ должен быть от 0 до 65535</div>
            </div>
        </div>
    </div>

    <div style="text-align: center; margin-top: 1rem; margin-bottom: 1rem">
        <button type="submit" class="btn btn-light border border-dark" style="width: 20%; min-width: 7.5rem" id="submitBtn"
                onclick="trimInputs('title', 'problemText', 'gradePoints', 'minusPoints', 'minPoints')">
            Сохранить
        </button>
    </div>
</form>

<div th:replace="fragments/footer :: #footer"></div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
    function validateImage() {
        var image = document.getElementById('image')
        var extErrMsg = document.getElementById('imageExtensionError')
        var sizeErrMsg = document.getElementById('imageSizeError')
        var submitBtn = document.getElementById('submitBtn')
        var exts = /(\.jpg|\.jpeg|\.gif|\.png)$/i;
        var isExt = exts.exec(image.files[0].name) != null
        var isSize = image.files[0].size <= 10485760
        if (isExt && isSize) {
            image.classList.remove('is-invalid')
            image.classList.add('is-valid')
            extErrMsg.style.display = 'none'
            sizeErrMsg.style.display = 'none'
            submitBtn.setAttribute('type', 'submit')
        } else if (!isExt) {
            image.classList.remove('is-valid')
            image.classList.add('is-invalid')
            extErrMsg.style.display = 'block'
            sizeErrMsg.style.display = 'none'
            submitBtn.setAttribute('type', 'button')
        } else if (!isSize) {
            image.classList.remove('is-valid')
            image.classList.add('is-invalid')
            extErrMsg.style.display = 'none'
            sizeErrMsg.style.display = 'block'
            submitBtn.setAttribute('type', 'button')
        }
    }

    function fillAnswer(answerType) {
        if (answerType === 2 || answerType === 3 || answerType === 4 ||
            document.getElementById('answerType2').checked ||
            document.getElementById('answerType3').checked ||
            document.getElementById('answerType4').checked) {
            document.getElementById('correctAnswer').value = 'answer=0';
        }
    }

    function checkAnswer() {
        if (document.getElementById('correctAnswerError') !== null) {
            document.getElementById('correctAnswer').classList.add('is-invalid');
        }
        if (document.getElementById('correctAnswerError') !== null &&
            document.getElementById('answerNumberError') !== null) {
            document.getElementById('answerNumberError').style.display = 'none';
        }
    }

    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                }, false);
            });
        }, false);
    })();

    function trimInputs() {
        var args = arguments;
        for (var i = 0; i < args.length; i++) {
            var inpt = document.getElementById(args[i])
            inpt.value = inpt.value.replace(/^\s+|\s+$/g,"");
        }
    }

    function setNeutral(name) {
        document.getElementById(name).classList.remove('is-invalid')
        if (document.getElementById(name + 'Error') !== null)
            document.getElementById(name + 'Error').style.display = 'none';
    }

    $('#image').on('change', function() {
        var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
        $(this).next('.custom-file-label').html(fileName);
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true })
    })

    function onUpdateAnswerTypeOrImage(answerType, imageFileName) {
        if (answerType === 0 ||
            answerType === 1 ||
            document.getElementById('answerType0').checked ||
            document.getElementById('answerType1').checked) {
            document.getElementById('answer').style.display = "block";
        } else {
            document.getElementById('answer').style.display = "none";
        }
        if (imageFileName === "null" || imageFileName === "") {
            document.getElementById('imageAttr').style.display = "none";
        } else {
            document.getElementById('imageAttr').style.display = "block";
        }
        checkAnswer();
    }
</script>
</html>