<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        p {
            text-align: center;
        }

        legend {
            display: block;
            width: auto;
            padding: 0 5px;
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
            border-bottom: none;
        }

        fieldset {
            border: 2px groove white;
            padding: 5px;
        }
    </style>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey">

<div th:replace="fragments/menu-staff :: #menustaff"></div>

<p id="title">Задачи</p>

<div class="container">
    <div class="alert alert-success alert-dismissible text-center mx-auto" role="alert"
         style="width: 50%; padding: .5rem" th:if="${success}">
        <span th:text="${success}"></span>
        <button type="button" class="close" data-dismiss="alert" style="padding: .5rem 1rem">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible text-center mx-auto" role="alert"
         style="width: 50%; padding: .5rem" th:if="${error}">
        <span th:text="${error}"></span>
        <button type="button" class="close" data-dismiss="alert" style="padding: .5rem 1rem">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="input-group mb-3 mx-auto" style="width: 50%">
        <input type="text" id="task-title" class="form-control"
               placeholder="Фильтр задач по заголовку и префиксу..." aria-describedby="search-button">
        <button class="btn btn-secondary" type="submit" id="search-button"
                style="border-top-left-radius: 0; border-bottom-left-radius: 0" onclick="trimInputs('task-title')">
            Поиск
        </button>
    </div>

    <div id="towns-table" th:replace="admin/tasks/tasks-table :: #tasks-table"></div>

    <div id="taskCopyModal" class="modal fade taskCopy" tabindex="-1" role="dialog"
         aria-labelledby="taskCopyNamePopup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Копирование задачи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--/*@thymesVar id="taskForCopy" type="ru.spbu.distolymp.dto.admin.tasks.tasks.TaskListDto"*/-->
                    <form id="taskCopyForm" th:object="${taskForCopy}" th:action="@{/tasks/copy}" method="post"  class="needs-validation was-validated" novalidate>
                        <div class="form-group text-left">
                            <label for="newTaskTitle">Заголовок новой задачи:</label>
                            <input th:field="*{title}" type="text" class="form-control"
                                   id="newTaskTitle" placeholder="Введите заголовок новой задачи" required>
                            <div class="invalid-feedback">Пожалуйста, введите заголовок задачи</div>
                            <input type="hidden" id="taskCopyId" th:field="${taskForCopy.id}" th:value="*{id}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success" form="taskCopyForm" onclick="trimInputs('newTaskTitle')">
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ul class="actions text-center" style="width: 50%">
        <li style="width: 100%">
            <a th:href="@{/tasks/add}" class="abutton">Создать новую задачу</a>
        </li>
    </ul>
</div>

<div th:replace="fragments/footer :: #footer"></div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function trimInputs() {
        var args = arguments;
        for (var i = 0; i < args.length; i++) {
            var inpt = document.getElementById(args[i])
            inpt.value = trim(inpt.value)
        }
    }

    function trim(value) {
        return value.replace(/^\s+|\s+$/g,"");
    }

    $('#taskCopyModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var title = button.data('title')
        var modal = $(this)
        modal.find('.modal-body #newTaskTitle').val(title)
        modal.find('.modal-body #taskCopyId').val(id)
    })

    $("#task-title").on("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            search();
        }
    })

    function search() {
        document.getElementById("search-button").click();
    }

    $("#search-button").click(function () {
        getTasks();
    })

    function getTasks() {
        var params = encodeQueryData(getParams());
        var url = "filter?" + params;
        $.get(url).done(function (fragment) {
            $("#tasks-table").replaceWith(fragment);
        });
    }

    function encodeQueryData(data) {
        const result = [];
        for (var key in data) {
            result.push(key + '=' + data[key]);
        }
        return result.join('&');
    }

    function getParams() {
        var params = {}
        params["resultSize"] = getResultSize();
        params["containsTitle"] = getTitle();
        return params;
    }

    function getResultSize() {
        return '0';
    }

    function getTitle() {
        return $("#task-title").val();
    }
</script>

</html>