<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div id="tasks-table">
    <table class="table border center" aria-describedby="title">
        <tr style="text-align: center">
            <th id="index">№</th>
            <th id="title">Заголовок</th>
            <th id="status">Статус</th>
            <th id="actions">Действия</th>
        </tr>

        <!--/*@thymesVar id="taskList" type="java.util.List<ru.spbu.distolymp.dto.admin.tasks.tasks.TaskListDto>"*/-->
        <tr th:each="task, iter : ${taskList}">
            <td th:text="${iter.index + 1}" style="text-align: center; vertical-align: middle"></td>

            <td th:if="${task.prefix != null}" th:text="${task.prefix} + ':&#13' + ${task.title}"
                style="white-space: pre; vertical-align: middle"></td>
            <td th:unless="${task.prefix != null}" th:text="${task.title}"
                style="white-space: pre; vertical-align: middle"></td>

            <td th:text="${task.status}" style="text-align: center; vertical-align: middle"></td>

            <td th:if="${task.status} == 'Архив'" style="text-align: center; vertical-align: middle">
                <a href="#" class="abutton">просмотр</a>
                <a th:href="@{/tasks/unarchive/{id}(id=${task.id})}" class="abutton">разархивировать</a>
            </td>
            <td th:unless="${task.status} == 'Архив'"
                style="text-align: center; vertical-align: middle">
                <a href="#" class="abutton">просмотр</a>
                <a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="abutton">редактировать</a>
                <a href="#" class="abutton" data-toggle="modal" data-target=".taskCopy"
                   th:attr="data-id=${task.id}, data-title=${task.title}">копировать</a>
                <a th:href="@{/tasks/delete/{id}(id=${task.id})}" class="abutton"
                   onclick="return window.confirm('Вы уверены?')">удалить</a>
            </td>
        </tr>
    </table>
</div>

</html>