<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/style.css}">
    <link rel="stylesheet" th:href="@{/css/styles/reset.css}">
</head>
<body>
  <div id="single-listing" hidden>
    <div class="tasks-manage__wrapper">
      <button class="task-manage__button" data-toggle="modal" data-target=".rename-listing">Переименовать список</button>
      <button class="task-manage__button" data-toggle="modal" data-target=".delete-listing">Удалить выбранный список</button>
    </div>

    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn_active">Задания</button>
        <button class="tabs__btn">Доступ</button>
      </div>

      <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show">
          <div id="tasks" class="tabs-block">
            <p class="task-edit__text">
              Задания списка <span>123</span>
            </p>
            <div class="task-edit-btn__wrapper">
              <!-- first -->
              <button class="task-edit-btn" id="addTask" onclick="closeOrOpenModal(event)">Добавить в
                список задания ...
              </button>
              <div th:replace="admin/directories/lists/add-tasks :: #addTasksInList" id="addTasksInList"></div>
              <!-- second -->
              <button class="task-edit-btn" id="addAllTasks"
                      onclick="closeOrOpenModal(event)">Добавить
                все задания из списка
                ...
              </button>
              <div id="allTasksList" th:replace="admin/directories/lists/copy-list-tasks :: #allTasksList"></div>

              <!-- third -->
              <button class="task-edit-btn" onclick="closeOrOpenModal(event)" id="copyList">Копировать
                список и все его задания
                ...
              </button>
              <div id="CopyListTasks" th:replace="admin/directories/lists/copy-list :: #CopyListTasks"></div>
            </div>
          </div>
          <!--/*@thymesVar id="singleListing" type="ru.spbu.distolymp.dto.entity.lists.listing.ListingDetailsDto"*/-->
          <div class="table__wrapper" id="problems-table">
            <table class="tasks-table">
              <tbody>
              <tr class="first-row">
                <td>№</td>
                <td>Заголовок</td>
                <td>Cтатус</td>
                <td>Действия</td>
              </tr>
              <tr th:each="listingProblem : ${singleListing.problemList}">
                <td th:text="${listingProblem.order}"></td>
                <td th:text="${listingProblem.problem.status}"></td>
                <td th:text="${listingProblem.problem.title}"></td>
                <td>
                  <a></a>
                  <a></a>
                  <a></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div th:replace="admin/directories/lists/constraint-part :: #constraint" id="constraint"></div>
    </div>
  </div>
</body>
</html>