<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <title>Пользовательское соглашение</title>
</head>

<body>
<h1 style="text-align: center">
    Пользовательское соглашение
    <br/>(согласие с правилами участия в Интернет-олимпиаде школьников по физике)
</h1>

<p>
    Согласие дается простой подписью (проставлением галочки в квадрате перед текстом соглашения) на
    <a th:href="@{/registration/user}">странице регистрации</a>.

    <br/><strong>Текст Пользовательского соглашения:</strong>
    <br/>Регистрируясь на сайте Интернет-олимпиады школьников по физике, я подтверждаю, что введенные мной персональные
    и прочие данные соответствуют действительности;
    <br/>соглашаюсь с тем, что ознакомлен с порядком, условиями и требованиями по проведению олимпиады
    в соответствии с Положением и Регламентом олимпиады, в том числе требованием проходить туры олимпиады
    текущего учебного года под одним логином;
    <br/> даю <a th:href="@{/user_data_agreement}" target="_blank">согласие на обработку и передачу моих персональных
    данных</a>
    Организаторами и Региональными Организаторами олимпиады,
    <br/> в том числе соглашаюсь на открытую публикацию своих фамилии, имени, отчества, даты рождения,
    класса (параллели) обучения и места учебы (для учителей - места работы),
    а также полученных при выполнении заданий результатов и протокола выполнения олимпиадной работы,
    в том числе на открытую публикацию этих данных в сети Интернет;
    <br/> соглашаюсь на получение по электронной почте уведомлений о событиях, связанных с олимпиадами и конкурсами по
    физике.
    <br/> Подтверждаю, что, давая согласие, я действую без принуждения, по собственной воле и в своих интересах.
    <br/><strong>Замечание:</strong> в случае, если участник олимпиады несовершеннолетний, согласие дает родитель
    (законный представитель) участника.
</p>
</body>
</html>