<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <title>Пользовательское соглашение</title>
</head>

<body>
<h1 align="center">Правила передачи и обработки персональных данных (информации)</h1>

<p>
    Согласие на передачу и обработку персональных данных дается простой подписью (проставлением галочки в квадрате
    перед текстом пользовательского соглашения) на <a th:href="@{/registration/user}">странице
    регистрации</a>.
    <br/>Проставлением данной простой подписи в соответствии с Федеральным законом
    № 152-ФЗ &quot;О персональных данных&quot; от 27.07.2006 года
    Вы подтверждаете свое согласие на обработку персональных данных (информации) Организаторами олимпиады
    (СПбГУ, Университетом ИТМО, Южным Федеральным Университетом) и, в случае участия в заключительном туре,
    Региональным организатором олимпиады (организацией, выбранной Вами в качестве площадки проведения заключительного
    тура):
    сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование,
    передачу, блокирование, обезличивание, уничтожение, открытую публикацию части персональных данных в сети Интернет.
<p> Передача и обработка персональных данных осуществляется с целью проведения
    Интернет-олимпиады школьников по физике; анализа и открытой публикации ее результатов; передачи
    данных о победителях и призерах олимпиады в Российский Совет Олимпиад Школьников
    и в систему ФИС, ГИА и приема и их обработки там; профессиональной ориентации участников олимпиады.

<p> Настоящее согласие распространяется на следующие Ваши персональные данные (информацию):
    <br> С целью открытой публикации в сети Интернет:
    <br> &nbsp; &nbsp; &nbsp; &nbsp; фамилия, имя, отчество, дата рождения, логин,
    класс (параллель) обучения и место учебы (для учителей - место работы),
    полученные в результате выполнения заданий баллы и протокол выполнения олимпиадной работы.
    <br> Для остальных целей помимо этого:
    <br>&nbsp; &nbsp; &nbsp; &nbsp; для учащихся в 10 и 11 классах -
    место рождения, серия паспорта, номер паспорта, кем выдан, когда выдан;
    <br>адрес электронной почты, контактные телефоны, адрес проживания с почтовым индексом;
    <br> место проживания: в сельской местности или в городе;
    наличие ограниченных возможностей здоровья; наличие семейного положения &quot;сирота&quot;
    <br> фамилия, имя и отчество преподавателя физики ( в школе, либо в кружке, либо репетитора);
    адрес электронной почты преподавателя физики, адрес электронной почты образовательной организации.

<p>Срок действия Вашего согласия является неограниченным, однако, Вы вправе в любой момент отозвать настоящее согласие,
    путём направления запроса по электронной почте v.v.monahov@mail.ru в Оргкомитет олимпиады с темой письма
    «отзыв согласия на обработку персональных данных» с адреса электронной почты, указанного в Вашей учетной записи
    (или с указанием в письме своих паспортных данных), а также указанием в письме своих фамилии, имени, отчества, даты
    рождения
    и своего логина, данные для которого требуется удалить.
    <br/>Обращаем Ваше внимание, что отзыв Вашего согласия на обработку персональных данных влечёт за собой удаление
    Вашей учётной записи с сайта Интернет-олимпиады школьников по физике distolymp.spbu.ru вместе со всеми результатами
    выполнения
    заданий под этой учетной записью.

    <br/><strong>Замечание:</strong> в случае, если участник олимпиады несовершеннолетний, согласие и его отзыв дает
    родитель
    (законный представитель) участника.
</p>
</body>
</html>