<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        p {
            text-align: center;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        legend {
            display: block;
            width: auto;
            padding: 0 5px;
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
            border-bottom: none;
        }

        fieldset {
            border: 2px groove white;
            padding: 5px;
        }
    </style>
</head>

<div th:replace="fragments/header :: #header"></div>

<body class="bgGrey">

<div th:replace="fragments/menu-staff :: #menustaff"></div>
<!--/*@thymesVar id="town" type="ru.spbu.distolymp.dto.admin.directories.towns.TownDetailsDto"*/-->
<h3>Город
    <a th:href="@{/towns/list}" class="stealth"><strong
            th:text="${town.name}">Town_name</strong></a>
</h3>

<ul class="nav nav-tabs justify-content-center" id="towns-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active text-dark" id="schools-tab" data-toggle="tab" href="#schools"
           role="tab"
           aria-controls="schools" aria-selected="true">Учебные заведения</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-dark" id="info-tab" data-toggle="tab" href="#info" role="tab"
           aria-controls="info" aria-selected="false">Информация</a>
    </li>
</ul>

<div class="tab-content" id="townsTabContent">
    <div class="tab-pane fade active show " id="schools" role="tabpanel"
         aria-labelledby="schools-tab">
        <h3 id="school-table-desc" class="mt-2 mb-2">Учебные заведения города
            <strong th:text="${town.name}">Town_name</strong></h3>
        <table class="border" style="margin:0.5em auto" aria-describedby="school-table-desc">
            <tr style="text-align: center">
                <th id="id">№</th>
                <th id="number">Номер</th>
                <th id="town">Название</th>
            </tr>
            <tr th:each="school, iter : ${town.schools}">
                <td th:text="${iter.index + 1}">#</td>
                <td>
                    <a th:href="@{/schools/details/{id}(id=${school.id})}" class="stealth"
                       th:text="${school.number}">Number</a>
                </td>
                <td>
                    <a th:href="@{/schools/details/{id}(id=${school.id})}" class="stealth"
                       th:text="${school.title}">Title</a>
                </td>
            </tr>
        </table>
        <ul class="actions">
            <li>
                <a href="#" class="abuton">Работать с учебными заведениями</a>
            </li>
        </ul>
    </div>

    <div class="tab-pane fade mb-2" id="info" role="tabpanel" aria-labelledby="info-tab">
        <h3 class="mt-2 mb-2">Информация о городе <strong th:text="${town.name}">Town_name</strong>
        </h3>
        <div class="infoForm">
            <fieldset>
                <legend>Город</legend>
                <div class="property">
                    <label>Страна:</label>
                    <a th:href="@{/countries/details/{id}(id=${town.region.country.id})}"
                       th:text="${town.region.country.name}" class="stealth"></a>
                </div>
                <div class="property" th:if="${town.region.country.name == 'Россия'}">
                    <label>Регион РФ:</label>
                    <a th:href="@{/regions/details/{id}(id=${town.region.id})}"
                       th:text="${town.region.name}" class="stealth"></a>
                </div>
                <div class="property">
                    <label>Город:</label>
                    <span th:text="${town.name}"></span>
                </div>
                <div class="property">
                    <label>Отображение:</label>
                    <span th:text="${town.visible ? 'показывается' : 'скрыт'}"></span>
                </div>
                <div class="property">
                    <label>Добавление районов:</label>
                    <span th:text="${town.editable ? 'открыто' : 'закрыто'}"></span>
                </div>
            </fieldset>
        </div>
        <ul class="actions">
            <li>
                <a th:href="@{/towns/edit/{id}(id=${town.id})}" class="abuton">Редактировать</a>
            </li>
        </ul>
    </div>
</div>

<div th:replace="fragments/footer :: #footer"></div>
</body>
</html>