<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<ul id="menustaff">
    <li>
        <a href="#">Модели</a>
    </li>
    <li>
        <a href="#">Тесты</a>
    </li>
    <li>
        <a href="#">Задачи</a>
    </li>
    <li>
        <a href="#">Преподаватели</a>
    </li>
    <li>
        <a href="#">Пользователи</a>
    </li>
    <li>
        <a href="#">Группы</a>
    </li>
    <li>
        <a href="#">Списки заданий</a>
    </li>
    <li>
        <a th:href="@{/directories/list}">Справочники</a>
    </li>
    <li>
        <a href="#">Настройки</a>
    </li>
    <li></li>
    <li>
        <a href="#">Выход</a>
    </li>
</ul>