<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<ul id="menustaff">
    <li>
        <a th:href="@{/models/list}">Модели</a>
    </li>
    <li>
        <a th:href="@{/tests/list}">Тесты</a>
    </li>
    <li>
        <a th:href="@{/tasks/list}">Задачи</a>
    </li>
    <li>
        <a href="#">Преподаватели</a>
    </li>
    <li>
        <a href="#">Пользователи</a>
    </li>
    <li>
        <a th:href="@{/groups/list}">Группы</a>
    </li>
    <li>
        <a th:href="@{/lists/list}">Списки заданий</a>
    </li>
    <li>
        <a th:href="@{/directories/list}">Справочники</a>
    </li>
    <li>
        <a href="#">Настройки</a>
    </li>
    <li></li>
    <li>
        <a href="#">Выход</a>
    </li>
</ul>