<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Система интернет-олимпиад СПбГУ</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        p {
            text-align: center;
        }
        .error {
            color: red;
        }
    </style>
</head>

<div th:replace="fragments/header :: #header"></div>
<body class="bgGrey">
<div th:replace="fragments/menu-staff :: #menustaff"></div>

<h3>
    Назначить классу значения по умолчанию
</h3>

<form th:action="@{/grades/update}" th:object="${grade}" method="post">
    <div class="infoForm">
        <input type="hidden" th:field="*{id}"/>
        <fieldset>
            <legend>Значения по умолчанию для класса</legend>
            <table class="bgForm" aria-describedby="title">
                <tr><th id="key"></th><th id="value"></th></tr>
                <tr>
                    <td><label for="name">Класс:</label></td>
                    <td>
                        <input id="name" type="text" th:value="${grade.name}" readonly />
                    </td>
                </tr>
                <tr>
                    <!--/*@thymesVar id="listingList" type="java.util.List<ru.spbu.distolymp.dto.entity.lists.listing.ListingNameDto>"*/-->
                    <td><label for="listing">Список:</label></td>
                    <td><select id="listing" th:field="*{listingId}">
                        <option th:value="null">Список не назначен</option>
                        <option th:each="listing : ${listingList}"
                                th:value="${listing.id}" th:text="${listing.name}"></option></select>
                    </td>
                </tr>
                <tr>
                    <!--/*@thymesVar id="staffList" type="java.util.List<ru.spbu.distolymp.dto.entity.users.staff.StaffLoginDto>"*/-->
                    <td><label for="staff">Преподаватель:</label></td>
                    <td><select id="staff" th:field="*{staffId}">
                        <option th:value="null">Преподаватель не назначен</option>
                        <option th:each="staff : ${staffList}"
                                th:value="${staff.id}" th:text="${staff.login}"></option></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="registration">Регистрация:</label></td>
                    <td><select id="registration" th:field="*{registrationStatus}">
                        <option th:value="close" th:text="закрыта"></option>
                        <option th:value="open" th:text="доступна"></option></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="codePhrase">Кодовая фраза:</label></td>
                    <td><input  id="codePhrase" type="text" th:field="*{codePhrase}" size="67"/>
                        <span th:if="${#fields.hasErrors('codePhrase')}" th:errors="*{codePhrase}" class="error">
                            Place code phrase error</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="replyTo">Письмо участнику от имени (email):</label></td>
                    <td><input  id="replyTo" type="text" th:field="*{replyTo}" size="67"/>
                        <span th:if="${#fields.hasErrors('replyTo')}" th:errors="*{replyTo}" class="error">
                            Place reply to email error</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="replyName">Письмо участнику от имени (name):</label></td>
                    <td><input  id="replyName" type="text" th:field="*{replyName}" size="67"/>
                        <span th:if="${#fields.hasErrors('replyName')}" th:errors="*{replyName}" class="error">
                            Place reply to name error</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="serviceEmail">Служебная почта:</label></td>
                    <td><input  id="serviceEmail" type="text" th:field="*{serviceEmail}" size="67"/>
                        <span th:if="${#fields.hasErrors('serviceEmail')}" th:errors="*{serviceEmail}" class="error">
                            Place service email error</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="beforeText">Текст до:</label></td>
                    <td><textarea id="beforeText" class="loginf" th:field="*{beforeText}"></textarea>
                        <span th:if="${#fields.hasErrors('beforeText')}" th:errors="*{beforeText}" class="error">
                            Place before-text error</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="afterText">Текст после:</label></td>
                    <td><textarea id="afterText" class="loginf" th:field="*{afterText}"></textarea>
                        <span th:if="${#fields.hasErrors('afterText')}" th:errors="*{afterText}" class="error">
                            Place after-text error</span>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div style="text-align:center">
        <button type="submit">Установить</button>
    </div>
</form>

<br/>

<div th:replace="fragments/footer :: #footer"></div>
</body>

</html>